<!-- nav -->
<nav class="navbar navbar-expand navbar-dark bg-dark" >
    <div class="navbar-nav">
        <a class="nav-item nav-link" routerLink="/">Home</a>
        <a class="nav-item nav-link" (click)="logout()">Logout</a>
    </div>
</nav>

<!-- app container -->
<nav>
    <div class="nav nav-tabs justify-content-center" id="nav-tab" role="tablist">
        <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" role="tab" aria-selected="true"
            (click)="testTab('1')">Home</a>
        <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" role="tab" aria-selected="false"
            (click)="testTab('2')">Profile</a>
        <a class="nav-item nav-link" id="nav-contact-tab" data-toggle="tab" role="tab" aria-selected="false"
            (click)="testTab('3')">Contact</a>
    </div>
</nav>

<homeDemo *ngIf="tabHome"></homeDemo>
<searchAddress *ngIf="tabSearchAddress"></searchAddress>